@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/fonts/PorscheNext-Regular.otf) format('otf');
}

* {
  font-family: "MyFont";
}

html, body {
  height: 100%;
  margin: 0;
}

.wrap {
  min-height: calc(100vh - 70px);
}

li {
  list-style: none;
}
